@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;

}

html, body {
    min-height: 100vh;
    background-color: dimgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'Courier New', Courier, monospace;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

a:hover, footer a:hover{
    text-decoration: underline;
}

section {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 25px;
    line-height: 1.6em;
}

section.normal {
    background-color: white;
}

section.imagem {
    background-color: rgb(88, 88, 88);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.171);
    width: 350px;
}









footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}